src/.vs
src/.idea

*.user

src/Snap.Nicole/bin
src/Snap.Nicole/obj

src/Snap.Nicole.SourceGeneration/bin
src/Snap.Nicole.SourceGeneration/obj

src/Snap.Nicole.Native/x64/Debug
src/Snap.Nicole.Native/Snap.Nic.*
src/packages
src/x64/Debug
.claude
